<script src="/js/compras/comprar.js" defer></script>
<div class="container">
    <h1>Efetuar Compra</h1>
    <div class="row">
        <div class="form-floating mb-3 col-sm-4" id="procurarFunc">
            <input type="text" class="form-control" id="procurarFuncval" placeholder=" " maxlength="100" disabled>
            <label for="procurarFuncval">Funcionario Logado:</label>
        </div>
        <div class="form-floating mb-3 col-lg-8" id="func">
            <select name="func" id="funcval" class="form-control">
                <option value="<%=func.id%>"><%=func.nome%></option>
            </select>
            <label for="funcval">Funcionário:</label>
        </div>
    </div>
    <div class="row">
        <div class="form-floating mb-3 col-sm-4" id="procurarFornecedor">
            <input type="text" class="form-control" id="procurarFornecedorval" placeholder=" " maxlength="100">
            <label for="procurarFornecedorval">Insira o nome do Fornecedor:</label>
        </div>
        <div class="form-floating mb-3 col-lg-8" id="Fornecedor">
            <select name="Fornecedor" id="Fornecedorval" class="form-control">
                <option value="0" selected>Busque o Fornecedor no campo ao lado...</option>
            </select>
            <label for="Fornecedorval">Fornecedor:</label>
        </div>
    </div>

    <div class="row shadow-lg p-3">  
        <h4>Adicionar Produtos a Compra</h4>
        <div class="form-floating mb-3 col-sm-4" id="procurarProduto">
            <input type="text" name="procurarProduto" id="procurarProdutoval" class="form-control" placeholder=" ">
            <label for="procurarProdutoval">Nome Produto:</label>
        </div>
        <div class="form-floating mb-3 col-sm-4" id="prod">
            <select name="prod" id="Produtoval" class="form-control">
            <option value="0" selected>Busque o produto no campo ao lado...</option>
            </select>
            <label for="Produtoval">Funcionário responsável:</label>
        </div>            
        <div class="form-floating mb-3 col-sm-2" id="quantidadeProduto">
            <input type="text" class="form-control" id="quantidadeProdutoval" placeholder=" " maxlength="100">
            <label for="quantidadeProdutoval">Quantidade:</label>
        </div>
        <div class="form-floating mb-3 col-sm-2" id="precoProduto">
            <input type="text" class="form-control" id="precoProdutoval" placeholder=" " maxlength="100">
            <label for="precoProdutoval">Preço Unidade:</label>
        </div>
        <div>
            <button class="btn btn-primary mb-4" id="AddProduto">Adicionar Produto à Compra</button>
            <span class="text-danger align-items-center" id="msgErroProduto"></span>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered mt-3" id="tableProduto" style="color: #000;">
                <thead>
                    <th>ID - Produto</th>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Preço Unidade</th>
                    <th>Preço Total</th>
                    <th>Remover</th>
                </thead>
            </table>
        </div>
    </div>

    <br><br>
    <div id="msgErroFinal" style="display: none;"></div>
    <button class="btn btn-primary" id="comprar">Efetuar Compra</button>
    <a href="/admin/compras" class="btn btn-secondary">Voltar</a>
</div>
<style>
    .row label{
        padding-left: 1.5rem
    }
</style>