<script src="/js/js/cadastrarEqAgricola.js" defer></script>
<div class="container">
    <h1>Cadastrar Equipamento Agricola</h1>
    <div id="form">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nomeval" placeholder=" " maxlength="50">
            <label for="nome">Nome Equipamento:</label>
        </div>
        <div class="form-floating mb-3" id="descricao">
            <input type="text" class="form-control" id="descricaoval" placeholder=" " maxlength="100">
            <label for="descricao">Descrição:</label>
        </div>
        <div class="row">
            <div class="form-floating mb-3 col-4" id="procurarPessoa">
                <input type="text" class="form-control" id="procurarPessoaval" placeholder=" " maxlength="100">
                <label for="procurarPessoa">Insira o Nome do proprietário | Empresa:</label>
            </div>
            <div class="form-floating mb-3 col-8" id="pessoa">
                <select name="pessoa" id="pessoaval" class="form-control">
                    <option value="0" selected>Busque o proprietário no campo acima...</option>
                </select>
                <label for="tipoItem">Proprietário:</label>
            </div>
        </div>
        <div class="form-floating mb-3" id="marca">
            <select name="marca" id="marcaval" class="form-control">
            <option value="0" selected>...</option>
            <% for(let i=0; i<listaMarcas.length ; i++) {%>
                <option value="<%=listaMarcas[i].id%>"><%=listaMarcas[i].nome%></option>
                <%}%>
            </select>
            <label for="tipoItem">Marca:</label>
        </div>
        <div class="form-floating mb-3" id="categoria">
            <select name="categoria" id="categoriaval" class="form-control">
                <option value="0" selected>...</option>
                <% for(let i=0; i<listaCategorias.length ; i++) {%>
                    <option value="<%=listaCategorias[i].id%>"><%=listaCategorias[i].nome%></option>
                    <%}%>
                </select>
                <label for="categoria">Categoria:</label>
        </div>
        
        <button class="btn btn-primary" id="cadastrar">Cadastrar Equipamento Agricola</button>
        <a href="/admin/listagem/4" class="btn btn-secondary">Voltar</a>
    </div>
</div>
<style>
    .row label{
        padding-left: 1.5rem;
    }
</style>