<script src="/js/js/usuarioCadastro.js" defer></script>

    <div class="container d-flex justify-content-center mt-5 mb-5">
      <form id="formulario-cadastro" class="bg-white p-5 shadow rounded" style="max-width: 400px; width: 100%;" novalidate>
        <h3 class="mb-4 text-center">Crie sua conta</h3><br>

        <div class="form-group">
          <div class="float-container">
            <input type="text" id="cadastro-nome" name="nome" class="form-control" placeholder=" " maxlength="100" required>
            <label for="cadastro-nome">Nome completo</label>
          </div>
          <p id="erro-nome" class="erro"></p>
        </div>

        <div class="form-group">
          <div class="float-container">
            <input type="text" id="cadastro-telefone" name="telefone" class="form-control" placeholder=" " maxlength="" required>
            <label for="cadastro-telefone">Telefone</label>
          </div>
          <p id="erro-telefone" class="erro"></p>
        </div>

        <div class="form-group">
          <div class="float-container">
            <input type="text" id="cadastro-cpf" name="cpf" class="form-control" placeholder=" " maxlength="" required>
            <label for="cadastro-cpf">CPF</label>
          </div>
          <p id="erro-cpf" class="erro"></p>
        </div>

        <div class="form-group">
          <div class="float-container">
            <input type="text" id="cadastro-endereco" name="endereco" class="form-control" placeholder=" " maxlength="200" required>
            <label for="cadastro-endereco">Endereço:</label>
          </div>
          <p id="erro-endereco" class="erro"></p>
        </div>

        <div class="form-group">
          <div class="float-container">
            <input type="email" id="cadastro-email" name="email" class="form-control" placeholder=" " maxlength="100" required>
            <label for="cadastro-email">E-mail</label>
          </div>
          <p id="erro-email" class="erro"></p>
        </div>

        <div class="form-group">
          <div class="float-container">
            <input type="password" id="cadastro-senha" name="senha" class="form-control" placeholder=" " maxlength="30" required>
            <label for="cadastro-senha">Senha</label>
          </div>
          <p id="erro-senha" class="erro"></p>
        </div>

        <div class="form-group">
          <div class="float-container">
            <input type="password" id="cadastro-confirmar" name="confirmar" class="form-control" placeholder=" " maxlength="30" required>
            <label for="cadastro-confirmar">Confirmar Senha</label>
          </div>
          <p id="erro-confirmar" class="erro"></p>
        </div>

        <div class="text-center mt-4">
          <button id="btn-cadastrar" type="submit">Cadastrar</button>
        </div>

        <div class="text-center mt-3">
          <p id="mensagem-sucesso" class="text-success" style="display: none;"></p>
        </div>

        <div class="text-center mt-3">
          <small>Já tem conta? <a href="/usuario/login">Login</a></small>
        </div>
      </form>
    </div>